/target

.idea
.vscode
.vs
start.sh

*.iso
*.img

fs-compiler*

src/usrbin/target
src/usrbin/.idea
src/usrbin/.vscode
src/usrbin/.vs
src/usrbin/build

src/sysapi/target
src/sysapi/.idea
src/sysapi/.vscode
src/sysapi/.vs
src/sysapi/build